.container {
  width: 11em;
  padding: 1em;
  margin-bottom: 0.5em;
  background: #ffffff;
  box-shadow: 0 1px 1px #cecece;
  white-space: pre-line;
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: auto;
  height: 2em;
}

.type,
.name {
  margin: 0;
}

.type {
  color: #bebebe;
}

@media screen and (min-width: 700px) {
  .container {
    margin-right: 2em;
  }
}
