.container {
  flex: .1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.button {
  color: #25b31e;
  border: 1px solid #797979;
  background: transparent;
  border-radius: 500px;
  width: 12em;
  height: 3.5em;
}