.container {
  padding: 2em;
  text-align: center;
}

.context {
  text-transform: uppercase;
  color: #bebebe;
  font-size: 0.9em;
}

.storesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .storesContainer {
    justify-content: center;
    flex-direction: row;
  }
}